@import "../order-monitoring-chat-layout/order-monitoring-chat-layout.scss";
// @import "../../components/history/history.scss";

.messenger__history {
  margin-top: clamp(20px, 4vw, 28px);
  padding: 0;

  @include ilg {
    max-width: unset;
  }
}

.messenger__tabs .toggler {
  width: 100%;
  padding: 4px;

  @include lg {
    width: max-content;
  }

  .toggler__item {
    padding: 16px 10px;
    text-align: center;

    @include lg {
      padding: 16px 20px;
    }
  }
}

.history {
  padding: 24px 15px;

  @include ilg {
    > .border-clip-left-top, > .border-clip-right-bottom {
      display: none;
    }
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__row {
    display: flex;
  }

  &__avatar {
    display: block;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
    background-color: var(--purple);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
  }

  &__name {
    font-size: 15px;
    font-style: italic;
    margin: 0;
    color: var(--primary);
  }

  &__label {
    font-size: 13px;
  }
}
