include ../checkbox/checkbox.pug

mixin service(checked=false, message, servicePrice)
  .service
    label
      +checkbox(message, checked)
      p.service__message= message
      p.service__service-price= servicePrice
    if (block)
      .service__content
        block
