extends ../service-catalog-layout/index.pug
include ../../components/range/range.pug

block steps
  +steps(1)

block tabsList
  +tabs("regularGames")

block aside
  +aside()

block content
  +blockTitle("Обычные игры/Turbo")
  .regular-games
    +input("Кол-во игр")(type="number" value="0")
    +range(74)

block services
  +blockSubTitle("Доп услуги:")
  +service(false, "Дуо с бустером", 60)
  +service(true, "Приоритетный заказ", 60)
  +service(true, "Включить стрим с выполнением", 60)
  +service(true, "Не отключать Steam Guard", 60)
  +service(false, "Установить время для игры", 60, true)
    input(type="date", name="date time to game")
    input(type="time", name="time to game")
  +service(true, "Играть моими героями", 60, true)
    +favoriteHeros(4)
  +service(true, "Забанить 5 героев", 60, true)
    +favoriteHeros(4)

block modals
  +modals
