extends ../service-catalog-layout/index.pug
include ../../components/range/range.pug

block steps
  +steps(1)

block tabsList
  +tabs("regularGames")

block aside
  +aside()

block content
  +blockTitle("Обычные игры/Turbo")
  .regular-games
    +input("Кол-во игр")(type="number", data-bind="range", data-bind-type="max")
    +range("range", 0, 100)

block services
  +blockSubTitle("Доп услуги:")
  +service(false, "Дуо с бустером", 60)
  +service(true, "Приоритетный заказ", 60)
  +service(true, "Включить стрим с выполнением", 60)
  +service(true, "Не отключать Steam Guard", 60)
  +service(false, "Установить время для игры", 60, true)
    +input("Дата начала игры")
      input(type="date")
    +input("Время начала игры")
      input(type="time")
  +service(true, "Играть моими героями", 60, true)
    +favoriteHeros(4, "#selectHeros")
  +service(true, "Забанить 5 героев", 60, true)
    +favoriteHeros(4, "#banHeros")

block modals
  +modals
