.review {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--primary);
  flex-direction: column;

  @include md {
    flex-direction: row;
  }

  .border-clip-left-top, .border-clip-right-bottom {
    --background-color: #ECEBF5;
  }

  &__rank {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 16px;
    background-color: var(--background);

    @include md {
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      padding: 32px 24px;
    }

    .border-clip-left-top {
      --background-color: #ECEBF5;
    }

    .border-clip-right-bottom {
      --background-color: var(--primary);
    }

    &-level {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      @include md {
        flex: unset;
      }
    }

    &-current {
      font-family: var(--font-primary);
      font-size: clamp(17px, 6vw, 15px);
      font-style: italic;
      font-weight: 600;
      white-space: nowrap;
      color: var(--black);
    }

    &-next {
      font-family: var(--font-primary);
      font-size: 15px;
      font-style: italic;
      font-weight: 600;
      white-space: nowrap;
      color: var(--primary);
    }

    img {
      display: block;
      width: 40px;
      height: 40px;
      padding: 1px;
      object-fit: cover;

      @include md {
        width: 104px;
        height: 104px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info-box {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__id {
    font-family: var(--font-primary);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    color: var(--white);
    opacity: 0.8;
  }

  &__type {
    font-family: var(--font-primary);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    color: rgb(255 255 255 / 0.8);

    b {
      margin-left: 8px;
      color: rgb(255 255 255);
    }
  }

  &__status {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: var(--font-primary);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    color: rgb(255 255 255 / 0.8);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    color: rgb(255 255 255 / 0.8);
  }

  &__star {
    path {
      fill: var(--white);
    }

    &--inactive path {
      opacity: 0.8;
      fill: none;
      stroke: var(--white);
    }
  }

  &__message {
    margin-top: 4px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    overflow-y: auto;
    color: var(--white);
  }
}
