@import "../../components/sectionHeader/sectionHeader.scss";
@import "../../components/card/card.scss";

.global-monitoring-orders {
  &__header {
    display: flex;
    align-items: center;
  }

  &__description {
    font: var(--font-text-primary);
    color: var(--purple);

    p:not(:first-child) {
      margin-top: 6px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0;
  }

  &__item {
    list-style: none;
  }
}
