include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/sectionHeader/sectionHeader.pug
include ../../components/card/card.pug
include ../../components/footer/footer.pug

doctype html
html(lang="ru")
  +head('Мониторинг заказов')
  body.white
    +header
    main.main
      section.global-monitoring-orders
        +sectionHeader
          header.global-monitoring-orders__header.container.container-custom
            h1.section-title Мониторинг заказов
        .global-monitoring-orders__body.container.container-custom
          p.global-monitoring-orders__description
            span Мы реализовали подгрузку матчей с наших заказов прямо на сайт с помощью официального Steam API. Благодаря этому, вы можете зайти абсолютно в любой заказ на сайте и посмотреть нашу работу и ход выполнения заказа.
            span В разделе активные заказы вы сможете посмотреть все наши текущие заказы по бустингу в Доте 2, которые находятся в работе, последние 50 игр на наших заказах с детальной статистикой по каждому матчу и последние 25 завершенных заказов.
            span Также в завершенных заказах вы сможете увидеть отзыв клиента, если он его оставил.
          ul.global-monitoring-orders__list
            li.global-monitoring-orders__item
              +card("11080", "Буст рейтинга", "3 377", "13 377", 50)
            li.global-monitoring-orders__item
              +card(2, "Буст рейтинга", "~4 500", "5 377", 50)
            li.global-monitoring-orders__item
              +card(2, "Буст рейтинга", "~4 500", "5 377", 50)
            li.global-monitoring-orders__item
              +card(2, "Буст рейтинга", "~4 500", "5 377", 50)
            li.global-monitoring-orders__item
              +card(2, "Буст рейтинга", "~4 500", "5 377", 50)
            li.global-monitoring-orders__item
              +card(2, "Буст рейтинга", "~4 500", "5 377", 50)
    +footer
    script(src="scripts/main.js")
