@import "../../styles/helpers/_mixins.scss";
@import "../../components/sectionHeader/sectionHeader.scss";
@import "../../components/card/card.scss";

.global-monitoring-orders {
  &__header {
    display: flex;
    align-items: center;
  }

  &__description {
    color: var(--purple);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;

    @include xl {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    list-style: none;
  }
}
