@import "../../components/history/history.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -190px;
}

.team-member {
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__profile {
    display: flex;
    gap: 24px;

    > img {
      min-width: 96px;
      min-height: 96px;
      max-width: 96px;
      max-height: 96px;
      border-radius: 100%;
      object-fit: cover;
      background-color: var(--background-3);
    }
  }

  &__name {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > h1 {
      margin: 0;
      font-family: var(--font-family);
      font-size: 48px;
      font-style: italic;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--white);
    }

    > span {
      font-family: var(--font-family);
      font-size: 20px;
      font-weight: 400;
      color: var(--white);
      opacity: .7;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    gap: 44px;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
      font: var(--font-text-primary);
      font-weight: 600;
      text-align: center;
      color: var(--white);
      margin: 0;
    }

    > span {
      font: var(--font-text-secondary);
      font-weight: 400;
      text-align: center;
      color: var(--white);
      opacity: .7;
    }
  }
}

.border-clip-2 {
  &::after {
    clip-path: polygon(4% 0%, 100% 0%, 100% 94%, 96% 100%, 0% 100%, 0% 8%);
    background-color: var(--background-2);
  }

  &::before {
    clip-path: polygon(4% 0%, 100% 0%, 100% 94%, 96% 100%, 0% 100%, 0% 8%);
    background-color: var(--background-3);
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 30px;
  padding: 40px;

  &__title {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 20px;

    &--italic {
      font-style: italic;
    }
  }

  &__heros {
    display: flex;
    gap: 12px;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      min-width: 127px;
      min-height: 76px;
      max-width: 127px;
      max-height: 76px;
      object-fit: cover;
      border-radius: var(--border-radius);
      margin-bottom: 4px;
      background-color: var(--background-3);
    }

    > p {
      font: var(--font-text-secondary);
      font-style: 600;
      font-weight: 400;
      text-align: center;
    }
  }
}

.history {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  margin: 0;

  &__title {
    font-family: var(--font-primary);
    font-size: 27px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    color: var(--black);
    // margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    display: flex;
    gap: 16px;
    padding: 16px 20px;
  }
}

