include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/sectionHeader/sectionHeader.pug
include ../../components/history/history.pug
include ../../components/footer/footer.pug

doctype html
html(lang="ru")
  +head('team member')
  body.white
    +header
    main.main
      section.team-member
        +sectionHeader
          header.team-member__header.container.container-custom
            .profile
              .profile__content
                img.profile__avatar(src="@public/images/template/logo.svg", alt="Avatar")
                .profile__name
                  h1 NICKNAME
                  span ФИО
              img.profile__rank(src="@public/images/rank-1.png", alt="")

            .team-member__stats
              .team-member__stat
                p 13 377
                span MMR
              .team-member__stat
                p 80%
                span Винрейт
              .team-member__stat
                p 8 726
                span Побед
              img.team-member__rank(src="@public/images/rank-1.png", alt="")
        .team-member__body.container.container-custom
          .team-member__about.about.border-clip-2
            div
              h2.about__title О себе
              .about__description
                p Мы тщательно отбираем бустеров и тренеров в команду BoostMMR.ru. Проверяем ребят на адекватность, стрессоустойчивость и скилл. Также обязательным пунктом работы на нашем сайте является предоставление паспортных данных.
                p По итогу в нашей команде находятся только настоящие профессионалы своего дела с рейтингом вплоть до ТОП-200 европы. Молодые, открытые и приятные в общении ребята, готовые выполнить заказ любой сложности в любое время.
                p Мы просим наших бустеров написать немного о себе, а так же записываем их статистику после каждой игры. Ознакомиться с профилями наших бустеров можно, кликнув по кнопке ниже.
            div
              h2.about__title Любимые герои
              .about__heros
                .about__hero
                  img(src="@public/images/team-member/Huskar_icon.png", alt="Preview huskar")
                  p Huskar
                .about__hero
                  img(src="@public/images/team-member/Broodmother_icon.png", alt="Preview Broodmother")
                  p Broodmother
                .about__hero
                  img(src="@public/images/team-member/Meepo_icon.png", alt="Preview Meepo")
                  p Meepo
      section.team-member__history.container.container-custom
        header.history
          .border-clip-left-top
          .border-clip-right-bottom
          h1.history__title Последние игры
          +historyList
            +historyItem("DOOM", true, 25, 0, 13, "02:58:10", 25, false)
              svg(width="24" height="24" viewBox="0 0 24 24" fill="none")
                path(d="M12 4L4 12L12 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M20 4L12 12L20 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            +historyItem("DOOM", false, 25, 0, 13, "02:58:10", -25, false)
              svg(width="24" height="24" viewBox="0 0 24 24" fill="none")
                path(d="M12 4L4 12L12 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M20 4L12 12L20 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    +footer
    script(src="scripts/main.js")
