@import "../../styles/helpers/_mixins.scss";
@import "../personal-cabinet-layout/index.scss";
@import "../../components/card/card.scss";
.personal-orders {
  &__list {
    display: flex;
    flex-direction: column;

    gap: 16px;
    padding: 0;
  }

  &__item {
    list-style: none;
  }
}

.status-card {
  &__info {
    width: 100%;
  }

  .border-clip-left-top,
  .border-clip-right-bottom {
    --background-color: var(--background-2)
  }
}
