@import "../../styles/helpers/_mixins.scss";
@import "../../components/sectionHeader/sectionHeader.scss";

.section-header {
  overflow: unset;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 17px;
    color: var(--white);
  }

  img {
    margin-bottom: -252px;
    width: 100%;
  }

  @include lg {
    flex-direction: row;

    h1 {
      font-size: 27px;
      text-align: right;
    }

    img {
      margin-bottom: -276px;
      width: unset;
    }
  }
}

.blog-info {
  max-width: 400px;

  &__data {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 23px;
    color: var(--purple);

    @include lg {
      justify-content: end;
    }
  }

  &__description {
    margin-top: 32px;
    text-align: left;
    color: var(--purple);

    @include lg {
      text-align: right;
    }
  }
}

.posts {
  margin-top: 170px;

  @include md {
    margin-top: 240px;
  }

  @include lg {
    margin-top: unset;
  }
}

.post {
  width: 100%;
  margin-top: 36px;

  @include lg {
    margin-top: 56px;
  }

  &__bloc-hero {
    display: flex;
    align-items: center;

    > img {
      display: block;
      width: 64px;
      height: min-content;
      border-radius: 4px;
      object-fit: cover;
    }

    > h3 {
      margin: 0;
      margin-left: 16px;
      font-size: 20px;
      text-transform: unset;
      color: var(--black);
    }
  }

  &__poster {
    width: 100%;

    > img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  > h2 {
    margin-bottom: 32px;
  }

  > h3 {
    color: var(--black);
  }

  > h4 {
    margin-top: 22px;
    color: var(--black);
  }

  > ul {
    margin-top: 15px;

    > li {
      margin-top: 8px;
      color: var(--purple);

      &::marker {
        font-size: 9px;
      }
    }

    + h2, + h3, + h4 {
      margin-top: 32px;
    }
  }

  p {
    margin-top: 8px;
    color: var(--purple);
  }

  &__cometary {
    margin-top: 16px;
    color: var(--purple);
  }
}
