include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/sectionHeader/sectionHeader.pug
include ../../components/footer/footer.pug

doctype html
html(lang="ru")
  +head('Blog')
  body
    +header
    main.main
      +sectionHeader
        .post-header.container.container-custom
          h1 Лучшие герои для поднятия ПТС в патче 7.34
          img(src="@public/images/blog/hader-img.png" alt="")

      .posts.container.container-custom
        section.blog-info__container.container.container-custom
          .blog-info
            .blog-info__data
              p 29.09.2023, 6:45
              p
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14" fill="none">
                    <path d="M17.5 7C17.5 7 15.5 13 9.5 13C3.5 13 1.5 7 1.5 7" stroke="#5F5A79" stroke-width="2" stroke-linecap="round"/>
                    <path d="M17.5 7C17.5 7 15.5 1 9.5 1C3.5 1 1.5 7 1.5 7" stroke="#5F5A79" stroke-width="2" stroke-linecap="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 10C11.1569 10 12.5 8.65685 12.5 7C12.5 5.34315 11.1569 4 9.5 4C9.19253 4 8.89587 4.04625 8.61659 4.13218C9.13749 4.36736 9.5 4.89135 9.5 5.5C9.5 6.32843 8.82843 7 8 7C7.39135 7 6.86736 6.63749 6.63218 6.11659C6.54625 6.39587 6.5 6.69253 6.5 7C6.5 8.65685 7.84315 10 9.5 10Z" fill="#5F5A79"/>
                  </svg>
                </span>
                | 2 341
            p.blog-info__description Вот и вышел очередной цифирный патч, в котором довольно сильно поменяли разных героев и мы постараемся понять кому лучше всего это пошло.

        section.post
          h2 Список важных изменений патча 7.34

          ul
            li Добавлена новая характеристика: сопротивление замедлениям (в процентном соотношении уменьшает силу, с которой замедления действуют на героя).
            li Сопротивление эффектам больше не влияет на силу замедления. Раньше оно уменьшало как длительность, так и силу примерно половины существующих в игре замедлений, но теперь влияет только на длительность.

          h4 Disperser
          ul
            li Suppress: теперь срабатывает на всех существ в радиусе 350 вокруг цели.
            li Suppress: теперь накладывает на крипов не оцепенение, а замедление.

          h4 Hand of Midas
          ul
            li Transmute: теперь может иметь до 2 зарядов. При покупке имеет 1 заряд.
            li Время восстановления заряда: 100 секунд.

          h4 Nullifier
          ul
            li Nullify: больше не развеивает положительные эффекты с невосприимчивых к эффектам существ.

          h4 Radiance
          ul
            li Burn: теперь наносит иллюзиям 150% урона.
            li Maelstrom/Mjollnir
            li Chain Lightning: теперь наносит иллюзиям 150% урона.


          h4 Mjollnir
          ul
            li Теперь коры которые брали радианс и молнии станут более популярными в пиках, где есть иллюзионисты, а в некоторых
              | играх надо отказаться от бфа в пользу молнии или антимага через радианс.


          h4 Arcane Blink
          ul
            li Arcane Blink: теперь применение восстанавливает 200 здоровья и 100 маны.


          h4 Revenant's Brooch
          ul
            li hantom Province: больше не увеличивает скорость атаки
            li Phantom Province: теперь уменьшает сопротивление магии атакуемых противников на 20%.
            li Эффект действует 3 секунды и накладывается до нанесения урона.
            li Phantom Province: теперь наносит невосприимчивым к эффектам существам урон, который уменьшается сопротивлением магии.

          h4 Rod of Atos
          ul
            li Рецепт изменён. Собирается из Staff of Wizardry (1000 золота), Vitality Booster (1000 золота) и рецепта (250 золота). Общая стоимость уменьшилась с 2750 до 2250 золота.
            li Больше не даёт бонус к силе и ловкости. Бонус к интеллекту уменьшен с 24 до 15. Теперь даёт +300 к здоровью. Вот и кончилась мета Атоса на универсалов, чему мы в принципе и рады.


        section.post
          h2 Изменение героев Герои в 7.34

          .post__bloc-hero
            img(src="@public/images/blog/Arc_Warden_icon.png" alt="Arc Warden")
            h3 Arc Warden
          ul
            li Magnetic Field Версия копии больше не добавляет к атакам магический урон. Теперь версия копии даёт +20/40/60/80 к базовому урону от атак.
            li Tempest Double Теперь применятся на точку в радиусе 700, где и появляется копия героя. Таланты
            li Талант 10 уровня: бонус к здоровью увеличен с 200 до 250. Талант 15 уровня: «+30 к скорости атаки и магическому урону от Magnetic Field» заменено на «+25 к скорости атаки и урону от Magnetic Field».
            li Талант 20 уровня: уменьшение перезарядки Magnetic Field ослаблено с 9 до 8 секунд.

          .post__bloc-hero
            img(src="@public/images/blog/Arc_Warden_icon.png" alt="Arc Warden")
            h3 Earthshaker

          h4 Enchant Totem
          ul
            li Бонус к дальности атаки увеличен с 75 до 100 Aftershock.
            li Радиус увеличен с 300 до 350.

          .post__bloc-hero
            img(src="@public/images/blog/Earthshaker_icon-1.png" alt="Earthshaker")
            h3 Earthshaker

          h4 Enchant Totem
          ul
            li Бонус к дальности атаки увеличен с 75 до 100 Aftershock.
            li Радиус увеличен с 300 до 350.

          .post__poster
            img(src="@public/images/blog/Rectangle 228.png" alt="")
            p Подпись под картинкой

        p Вот и вышел очередной цифирный патч, в котором довольно сильно поменяли разных героев и мы постараемся понять кому лучше всего это пошло.



  +footer
