.main {
  margin-top: -239px;
}

.teams {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 16px;

    > h1 {
      text-align: right;
      font-family: var(--font-primary);
      font-size: 27px;
      text-transform: uppercase;
      font-weight: 600;
      font-style: italic;
      color: var(--white);
    }

    > img {
      visibility: hidden;
    }
  }
}

.post {
  margin-top: 56px;

  &__bloc-hero {
    display: flex;
    > h3 {
      margin-left: 16px;
    }
  }

  &__hero-card-img {
  }

  &__poster {
    width: min-content;
    display: flex;

    &-img {

    }
    &-subject {
    }
  }

  > h2 {
    margin-bottom: 30px;

    font-family: var(--font-primary);
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
  }

  > h3 {
    color: var(--black);
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
  }

  > h4 {
    margin-top: 22px;

    color: var(--black);
    font: var(--font-text-primary);
    color: var(--, #5f5a79);
    font-size: 15px;
    font-weight: 600;
  }

  > ul {
    margin-top: 15px;
  }

  ul > li {
    margin-top: 8px;

    color: var(--purple);
    font-family: var(--font-text-primary);
    font-style: normal;
    font-weight: 400;
  }
  p {
    margin-top: 8px;

    color: var(--purple);
    font-family: var(--font-text-primary);
    font-style: normal;
    font-weight: 400;
  }
}
