.toggler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px;
  background-color: var(--background);
  border-radius: var(--border-radius);

  > .toggler__item {
    flex: 1 1 auto;
    color: var(--purple);
    font: var(--font-text-primary);
    border-radius: var(--border-radius);
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--background-hover);
    }

    > input {
      display: block;
      visibility: hidden;
      height: 0;
    }
  }

  > .toggler__item:has(input[type="radio"]:checked) {
    color: var(--white);
    background-color: var(--primary);
  }
}
