@import "../../styles/helpers/_mixins.scss";
@import "../../components/sectionHeader/sectionHeader.scss";
@import "../../components/input/input.scss";
@import "../../components/checkbox/checkbox.scss";

.work-with-specialist {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px;
  margin-top: clamp(-74px, 5vw, -84px);

  @include md {
    display: grid;
    grid-template-columns: 1fr 0.45fr;
    gap: 46px;
  }


  &::after,
  &::before {
    clip-path: polygon(3% 0%, 100% 0%, 100% 96%, 96% 100%, 0% 100%, 0% 6%);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    > * {
      grid-column: 1/3;
    }

    &--row {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include md {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .input:first-child {
        grid-column: 1/2;
      }
      .input:last-child {
        grid-column: 2/3;
      }
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    font: var(--font-text-primary);

    .checkbox:has(input:checked) .checkbox__custom svg {
      transform: scale3d(1, 1, 1) translate(-50%, -50%);
    }

    a {
      color: var(--primary);
    }
  }

  &__button {
    width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: var(--font-text-primary);
    color: var(--purple);
  }
}
