@import "../service-catalog-layout/index.scss";
@import "../../components/range/range.scss";
@import "../../components/favoriteHeros/favoriteHeros.scss";

.rating-boost {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__mmr {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: end;

    .range {
      margin-bottom: 25px;
    }
  }

  &__previews {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;

    img {
      display: block;
      width: 80px;
      height: 80px;
      object-fit: contain;

      @include md {
        width: 104px;
        height: 104px;
      }
    }

    .img-with-label {
      width: unset;
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;

    @include md {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    & >.input:last-child input {
      pointer-events: none;
    }
  }
}
