@import "../service-catalog-layout/index.scss";
@import "../../components/input/input.scss";
@import "../../components/textarea/textarea.scss";
@import "../../components/checkbox/checkbox.scss";

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__row {
    display: flex;
    gap: 12px;

    > * {
      width: 49%;
    }
  }

  textarea {
    min-height: 192px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      font-weight: 700;
      color: var(--primary);
    }
  }
}
