include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/sectionHeader/sectionHeader.pug
include ../../components/footer/footer.pug

doctype html
html(lang="ru")
  +head('buy account')
  body.white
    +header
    main.main
      section.buy-account
        +sectionHeader
          header.buy-account__header.container.container-custom
            h1 Купить аккаунт Dota 2
        .buy-account__list.container.container-custom
          .account-preview.border-clip-1
            .account-preview__header
              .account-preview__price
                p.account-preview__old-price 15 000 ₽
                p 15 000 ₽
              img(src="@public/images/template/account-preview.png", alt="account preview")
            hr
            .account-preview__stats
              img(src="@public/images/rank-1.png", alt="1 ранг")
              .stat
                p 13 377
                span MMR
              .stat
                p 15 000
                span Порядочность
              .stat
                p 8 726
                span Матчей
            hr
            button.outline-button.account-preview__button Купить аккаунт
          .account-preview.border-clip-1
            .account-preview__header
              .account-preview__price
                p.account-preview__old-price 15 000 ₽
                p 15 000 ₽
              img(src="@public/images/template/account-preview.png", alt="account preview")
            hr
            .account-preview__stats
              img(src="@public/images/rank-1.png", alt="1 ранг")
              .stat
                p 13 377
                span MMR
              .stat
                p 15 000
                span Порядочность
              .stat
                p 8 726
                span Матчей
            hr
            button.outline-button.account-preview__button Купить аккаунт
          .account-preview.border-clip-1
            .account-preview__header
              .account-preview__price
                p.account-preview__old-price 15 000 ₽
                p 15 000 ₽
              img(src="@public/images/template/account-preview.png", alt="account preview")
            hr
            .account-preview__stats
              img(src="@public/images/rank-1.png", alt="1 ранг")
              .stat
                p 13 377
                span MMR
              .stat
                p 15 000
                span Порядочность
              .stat
                p 8 726
                span Матчей
            hr
            button.outline-button.account-preview__button Купить аккаунт
          .account-preview.border-clip-1
            .account-preview__header
              .account-preview__price
                p.account-preview__old-price 15 000 ₽
                p 15 000 ₽
              img(src="@public/images/template/account-preview.png", alt="account preview")
            hr
            .account-preview__stats
              img(src="@public/images/rank-1.png", alt="1 ранг")
              .stat
                p 13 377
                span MMR
              .stat
                p 15 000
                span Порядочность
              .stat
                p 8 726
                span Матчей
            hr
            button.outline-button.account-preview__button Купить аккаунт

    +footer
    script(src="scripts/main.js")
