.main {
  margin-top: -152px;
  margin-bottom: 80px;
}

.buy-account {
  &__header {
    margin-bottom: 120px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px 30px;
  }
}

.account-preview {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  &__header {
    position: relative;
    margin-left: 40px;

    > img {
      display: block;
      width: 261px;
      height: 146px;
      padding: 1px;
      border-radius: var(--border-radius);
      background-color: var(--background-3);
    }
  }

  &__price {
    position: absolute;
    bottom: 8px;
    left: -40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: var(--border-radius);
    min-width: 131px;
    padding: 4px 8px;
    background-color: var(--primary);

    > p:last-child {
      font-family: var(--font-text-secondary);
      font-weight: 500;
      font-size: 27px;
      color: var(--white);
      margin: 0;
    }
  }

  &__old-price {
    font-family: var(--font-text-secondary-regular);
    font-weight: 500;
    text-decoration-line: line-through;
    opacity: .8;
    color: var(--white);
    margin: 0;
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    align-items: center;

    > img {
      display: block;
      width: 44px;
      height: 44px;
      padding: 1px;
    }
  }
}
