@import "../service-catalog-layout/index.scss";
@import "../../components/range/range.scss";
@import "../../components/favoriteHeros/favoriteHeros.scss";

.girl-games {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  gap: 24px;

  .input {
    height: 64px;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
