extends ../service-catalog-layout/index.pug
include ../../components/range/range.pug
include ../../components/favoriteHeros/favoriteHeros.pug

block steps
  +steps(1)

block tabsList
  +tabs("girlGames")

block aside
  +aside()

block content
  +blockTitle("игры с девочкой")
  .girl-games
    +imgWithLabel("@public/images/rank-1.png", "Herald II")
    +input("Ваш рейтинг")(type="number" value="1")
    .girl-games__preview
      +input("Кол-во игр")(type="number" value="3")
      +range(60)

block services
  +blockSubTitle("Доп услуги:")
  +service(false, "Дуо с бустером", 60)
  +service(true, "Приоритетный заказ", 60)
  +service(true, "Включить стрим с выполнением", 60)
  +service(true, "Не отключать Steam Guard", 60)
  +service(false, "Установить время для игры", 60, true)
    input(type="date", name="time to game")
