@import "../../styles/helpers/_mixins.scss";
@import "../../components/sectionHeader/sectionHeader.scss";
@import "../../components/input/input.scss";
@import "../../components/services/services.scss";
@import "../../components/modalWindow/modalWindow.scss";
@import "../../components/favoriteHeros/favoriteHeros.scss";

.modal-window__layout {
  width: 70vw;
}

.service-catalog {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    svg {
      display: none;

      @include md {
        display: block;
      }
    }
  }

  &__content-layout {
    display: grid;
    grid-template-columns: 1fr 0.45fr;
    gap: 30px;
    padding: 24px 15px;

    @include lg {
      padding: 40px;
    }

    &::after,
    &::before {
      clip-path: polygon(2% 0%, 100% 0%, 100% 96%, 98% 100%, 0% 100%, 0% 4%);
    }
  }

  &__tabs {
    grid-column: 1/3;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-family: var(--font-primary);
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
  }

  &__subtitle {
    font-family: var(--font-primary);
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
  }
}

.img-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;

  img {
    object-fit: cover;
    object-position: center;
  }

  p {
    font: var(--font-text-secondary-regular);
    text-align: center;
    color: var(--purple);
  }
}

.tabs {
  // display: flex;
  // flex-direction: column;
  // gap: 6px;
  // padding: 16px 20px;

  // @include md {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  // }

  // @include lg {
  //   grid-template-columns: repeat(4, 1fr);
  // }

  // &::after,
  // &::before {
  //   clip-path: polygon(2% 0%, 100% 0%, 100% 88%, 98% 100%, 0% 100%, 0% 14%);
  //   background-color: var(--background);
  // }

  // &__item {
  //   display: flex;
  //   align-items: center;
  //   gap: 0;
  //   width: 100%;
  //   text-decoration: unset;

  //   path,
  //   circle {
  //     stroke: var(--purple);

  //     &.fill {
  //       stroke: unset;
  //       fill: var(--purple);
  //     }
  //   }

  //   &::after,
  //   &::before {
  //     background-color: var(--unset);
  //     clip-path: polygon(22% 0%, 100% 0%, 100% 76%, 96% 100%, 0% 100%, 0% 100%);
  //   }

  //   &--current {
  //     order: -1;

  //     &::after {
  //       background-color: var(--background-2);
  //     }

  //     .tabs__icon::after {
  //       background-color: var(--primary);
  //     }

  //     .tabs__icon::before {
  //       background-color: unset;
  //     }

  //     .tabs__label {
  //       color: var(--primary);
  //     }

  //     path,
  //     circle {
  //       stroke: var(--white);

  //       &.fill {
  //         stroke: unset;
  //         fill: var(--white);
  //       }
  //     }
  //   }
  // }

  // &__icon {
  //   padding: 16px;
  //   height: 100%;

  //   &::after,
  //   &::before {
  //     background-color: unset;
  //     clip-path: polygon(45% 0%, 101% 0%, 100% 55%, 45% 100%, 0% 100%, 0% 45%);
  //   }
  // }

  // &__label {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   padding-left: 12px;

  //   font-family: var(--font-primary);
  //   font-size: 15px;
  //   font-style: italic;
  //   font-weight: 600;
  //   text-transform: uppercase;
  //   line-height: 20px;
  //   color: var(--purple);
  // }
}

.step {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  font: var(--font-primary);
  color: var(--purple);
  transition: all 0.3s;

  span {
    font-size: 27px;
    font-weight: 600;
    font-style: italic;
  }

  &--current {
    color: var(--primary);
  }
}

.aside {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 22px;
  height: 686px;

  &::after,
  &::before {
    clip-path: polygon(6% 0%, 100% 0%, 100% 96%, 92% 100%, 0% 100%, 0% 4%);
    background-color: var(--background);
  }

  &-row {
    display: flex;
    gap: 12px;

    button:last-child {
      width: 100%;
    }
  }

  &__orders {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }

  &__promo {
    position: relative;

    input {
      padding-right: 115px;
    }

    > .button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 10px;
      padding: 10px 12px;
      font: var(--font-text-secondary-regular);
      font-weight: 400;
      background-color: var(--black);
      text-transform: none;
    }
  }

  > .button {
    width: 100%;
  }
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font: var(--font-text-secondary-regular);
    color: var(--purple);

    &::after {
      content: ":";
    }
  }

  &__description {
    font: var(--font-text-primary);
    font-style: italic;
    font-weight: 700;
    text-align: right;
    color: var(--black);
  }
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font: var(--font-text-secondary-regular);
    color: var(--purple);
  }

  &__description {
    font-family: var(--font-primary);
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-align: right;
    color: var(--primary);
  }
}
