@import "../../styles/helpers/_mixins.scss";
@import "../../components/sectionHeader/sectionHeader.scss";
@import "../../components/input/input.scss";
@import "../../components/services/services.scss";
@import "../../components/modalWindow/modalWindow.scss";
@import "../../components/favoriteHeros/favoriteHeros.scss";

.modal-window__layout {
  width: 70vw;
}

.service-catalog {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include ilg {
      padding: 0;
    }
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @include ilg {
      padding: 0 30px;
    }

    svg {
      display: none;

      @include md {
        display: block;
      }
    }
  }

  &__content-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 24px 30px;
    background-color: var(--background-2);

    > .border-clip-left-top,
    > .border-clip-right-bottom {
      --background-color: var(--background-2);
    }

    @include lg {
      display: grid;
      grid-template-columns: 1fr 0.45fr;
      padding: 40px;

      > .border-clip-left-top,
      > .border-clip-right-bottom {
        --background-color: var(--background);
      }
    }
  }

  &__tabs {
    grid-column: 1/3;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__aside {
    position: relative;
    background-color: var(--background);

    > .border-clip-left-top,
    > .border-clip-right-bottom {
      --background-color: var(--background-2);
    }
  }

  &__title {
    font-family: var(--font-primary);
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
  }

  &__subtitle {
    font-family: var(--font-primary);
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
  }
}

.img-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;

  img {
    object-fit: cover;
    object-position: center;
  }

  p {
    font: var(--font-text-secondary-regular);
    text-align: center;
    color: var(--purple);
  }
}

.tabs {
  position: relative;
  padding: 14px;
  max-height: 90px;
  background-color: var(--background);
  overflow: hidden;
  transition: all .3s ease-out;
  z-index: 10;

  .border-clip-left-top,
  .border-clip-right-bottom {
    --background-color: var(--background-2);
  }

  &--open {
    max-height: 100%;
  }

  @include md {
    max-height: unset;
    overflow: unset;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 14px;
    list-style: none;

    @include md {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;
    }

    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    position: relative;
    display: flex;
    gap: 12px;
  }

  &__close {
    display: none;
  }

  &__link {
    position: relative;
    display: flex;
    gap: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: var(--purple);
    text-transform: uppercase;
    background-color: var(--background-2);

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 99%;
      height: 99%;
      left: 99%;
      right: 99%;
      background-color: var(--background-3);
      z-index: -1;
    }

    .border-clip-left-top,
    .border-clip-right-bottom {
      --background-color: var(--background);

      &::after,
      &::before {
        width: 20px;
        height: 20px;
      }
    }

    path, circle {
      stroke: var(--purple);
    }

    @include md {
      background-color: unset;

      .tabs__icon {
        .border-clip-right-bottom {
          --background-color: transparent;
        }
      }
    }
  }

  &__label {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 6px;
    padding-right: 12px;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    .border-clip-left-top {
      --background-color: var(--background);
    }

    .border-clip-right-bottom {
      --background-color: var(--background-2);
    }
  }

  &__item--current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: -1;

    & .tabs__link {
      pointer-events: none;
      gap: 10px;
      background-color: var(--background-2);
    }


    & .tabs__icon {
      background-color: var(--primary);

      path, circle {
        stroke: var(--white);
      }

      .border-clip-right-bottom {
        --background-color: var(--background-2);
      }
    }

    @include imd {
      & .tabs__close {
        display: block;
      }
    }
  }
}

.step {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  font: var(--font-primary);
  color: var(--purple);
  transition: all 0.3s;

  span {
    font-size: 27px;
    font-weight: 600;
    font-style: italic;
  }

  &--current {
    color: var(--primary);
  }
}

.aside {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 22px;

  @include lg {
    height: 686px;
  }

  &-row {
    display: flex;
    gap: 12px;

    button:last-child {
      width: 100%;
    }
  }

  &__orders {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }

  &__promo {
    position: relative;

    input {
      padding-right: 115px;
    }

    > .button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 10px;
      padding: 10px 12px;
      font: var(--font-text-secondary-regular);
      font-weight: 400;
      background-color: var(--black);
      text-transform: none;
    }
  }

  > .button {
    width: 100%;
  }
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font: var(--font-text-secondary-regular);
    color: var(--purple);

    &::after {
      content: ":";
    }
  }

  &__description {
    font: var(--font-text-primary);
    font-style: italic;
    font-weight: 700;
    text-align: right;
    color: var(--black);
  }
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font: var(--font-text-secondary-regular);
    color: var(--purple);
  }

  &__description {
    font-family: var(--font-primary);
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-align: right;
    color: var(--primary);
  }
}
