@import "../../components/sectionHeader/sectionHeader.scss";
@import "../../components/input/input.scss";

.service-catalog {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__content-layout {
    display: grid;
    grid-template-columns: 1fr 0.45fr;
    gap: 30px;
    padding: 40px;

    &::after,
    &::before {
      clip-path: polygon(2% 0%, 100% 0%, 100% 96%, 98% 100%, 0% 100%, 0% 4%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-family: var(--font-primary);
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
  }
}

.step {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  font: var(--font-primary);
  color: var(--purple);
  transition: all 0.3s;

  span {
    font-size: 27px;
    font-weight: 600;
    font-style: italic;
  }

  &--current {
    color: var(--primary);
  }
}

.aside {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 22px;
  height: 686px;

  &::after,
  &::before {
    clip-path: polygon(6% 0%, 100% 0%, 100% 96%, 92% 100%, 0% 100%, 0% 4%);
    background-color: var(--background);
  }

  &-row {
    display: flex;
    gap: 12px;

    button:last-child {
      width: 100%;
    }
  }

  &__orders {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }

  &__promo {
    position: relative;

    input {
      padding-right: 115px;
    }

    > .button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 10px;
      padding: 10px 12px;
      font: var(--font-text-secondary-regular);
      font-weight: 400;
      background-color: var(--black);
      text-transform: none;
    }
  }

  > .button {
    width: 100%;
  }
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font: var(--font-text-secondary-regular);
    color: var(--purple);

    &::after {
      content: ":";
    }
  }

  &__description {
    font: var(--font-text-primary);
    font-style: italic;
    font-weight: 700;
    text-align: right;
    color: var(--black);
  }
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font: var(--font-text-secondary-regular);
    color: var(--purple);
  }

  &__description {
    font-family: var(--font-primary);
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-align: right;
    color: var(--primary);
  }
}
