extends ../service-catalog-layout/index.pug
include ../../components/range/range.pug
include ../../components/select/select.pug

block steps
  +steps(1)

block tabsList
  +tabs("winningTheBattleCup")

block aside
  +aside()

block content
  +blockTitle("Победа в боевом кубке")
  .winning-battle-cup
    svg(width="104" height="132" viewBox="0 0 104 132" fill="none")
      path(opacity="0.3" d="M47 128C43.4759 126.589 40.6042 121.858 39.4551 119.767C40.7319 115.063 43.5155 107.144 44.4348 113.103C45.3542 119.061 62.1831 125.778 70.2912 128C64.2899 127.935 50.9838 128 47 128Z" fill="#3E25D8")
      path(opacity="0.3" d="M48.2653 108.594C45.2008 107.614 42.3917 103.498 41.1787 101.342L42.5194 94.677L54.3942 87.2283C49.989 91.3447 43.7096 98.4223 48.2653 100.754C52.4789 102.91 63.013 107.222 66.652 110.75L62.6299 117.023C59.8208 114.475 51.1267 109.509 48.2653 108.594Z" fill="#3E25D8")
      path(opacity="0.5" d="M24.5157 78.7994C20.3786 74.7222 8.23573 70.5666 0 70.5666C2.80909 69.0638 10.2659 66.8031 16.8545 69.7826C12.0663 64.0981 8.81031 52.533 11.4917 48.0245L12.6409 49.2006C12.2578 44.3002 12.6026 33.9112 15.5138 32.3431C15.3223 38.8117 16.8545 42.536 16.663 48.0245C20.9405 37.6356 29.3039 14.5054 21.6427 0.196045C25.7287 0.7841 32.5982 7.87996 27.3886 31.559C20.8766 61.1578 28.3462 71.5467 37.9227 77.6233C44.5112 82.0141 31.7299 80.2369 24.5157 78.7994Z" fill="#3E25D8")
      path(d="M48.4575 89.9725C45.393 88.9924 36.9651 84.68 33.1345 83.5039C33.1345 83.5039 22.6006 80.7597 12.0664 81.5437C12.6653 79.1788 17.5857 77.1662 22.8459 75.6632C29.3578 73.8025 36.3905 83.5039 36.3905 72.7229C38.6889 78.2114 42.3481 81.4401 46.7331 84.092C50.9467 86.6402 61.0984 91.1486 64.7374 94.677L61.8645 98.9894C59.0554 96.4411 51.3189 90.8877 48.4575 89.9725Z" fill="#C1B9F3")
      path(d="M75.4622 36.6555C67.9926 29.4028 39.4548 26.8546 30.6445 36.6555C32.3683 53.7091 30.0701 67.2344 47.8821 81.7397V125.648C47.8821 126.902 54.5218 126.171 57.8416 125.648V81.7397C74.5046 70.3707 74.6961 48.2859 75.4622 36.6555Z" fill="#3E25D8")
      path(d="M63.5858 102.322C58.7976 106.634 42.1346 112.711 39.4531 119.767C31.0262 102.714 56.5 106.242 63.9692 91.5405C65.6929 94.4808 66.1928 99.9736 63.5858 102.322Z" fill="#513BDC")
      path(d="M38.3053 112.319C38.6117 110.594 37.9222 108.921 37.3477 108.398C39.4545 108.594 40.2206 110.554 40.2206 110.554C39.5822 111.796 37.9989 114.044 38.3053 112.319Z" fill="#513BDC")
      path(d="M43.8255 96.0766C42.5901 94.862 41.97 91.7207 42.1367 90.9526C40.5411 92.3742 41.2635 95.7944 41.2635 95.7944C42.4913 96.4181 45.0609 97.2912 43.8255 96.0766Z" fill="#513BDC")
      path(opacity="0.7" d="M75.8454 30.5789C85.8048 61.9418 76.0369 72.9188 69.908 74.487C69.6015 74.8006 65.9497 81.413 64.1621 84.6799C73.3555 80.5636 85.8048 78.7994 94.8067 78.7994C94.0406 77.8193 93.0829 76.0551 87.5286 74.487C92.1253 72.4484 100.425 71.416 104 71.1547C100.553 67.0383 96.722 66.4502 91.3592 67.0383C97.105 57.6294 95.3174 50.8994 94.8067 46.8484C93.7213 50.1807 93.466 51.7489 92.1253 54.1011C92.5849 50.808 89.38 43.4507 87.7201 40.5758L87.5286 48.8086C84.6557 38.4196 77.5691 34.3032 82.9319 13.3293C80.6336 15.0934 79.8674 17.2496 78.5268 21.17C78.0671 17.8769 79.229 5.68453 79.8674 0C75.8454 10.585 74.3514 25.8744 75.8454 30.5789Z" fill="#3E25D8")
      path(d="M67.6098 82.9157C62.8216 87.2281 43.8606 94.2847 41.179 101.341C36.7737 87.4241 65.3119 82.1316 70.4831 69.5864C72.2069 72.5267 70.2168 80.5678 67.6098 82.9157Z" fill="#513BDC")
      path(d="M56.5008 118.003C61.7068 114.806 62.545 114.119 67.2264 110.162C70.4823 119.571 65.0866 122.904 58 128H35C43.0442 122.708 50.7549 121.531 56.5008 118.003Z" fill="#513BDC")
      path(d="M63.396 63.0504L53.2901 69.7948L42.9934 62.4553C42.3578 55.5125 42.9935 44.2056 42.9934 40.6351C43.947 39.6429 62.2521 39.8418 63.396 41.0318V63.0504Z" fill="white" fill-opacity="0.5" stroke="white" stroke-opacity="0.3")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M45.3936 60.5166L46.032 57.2496L45.3936 55.2894V53.3293L46.032 53.9827L45.3936 50.0623L46.032 47.4487L45.3936 45.4885H49.2241L51.1394 46.1419L52.4163 45.4885L53.6931 46.1419H55.6084L56.2468 45.4885L58.8006 46.1419L60.7158 45.4885L60.0774 48.7555L60.7158 50.7157L60.0774 51.6958L60.3966 52.6759L60.0774 54.636L60.7158 55.2894V60.5166L59.439 59.8632L56.8853 60.5166L51.7778 61.17L48.5857 60.5166H45.3936ZM46.6699 48.1021L47.9468 47.4487L59.4385 55.2895L58.1616 58.5564H56.2463L46.6699 48.1021ZM58.1616 48.7554L57.5232 51.369L54.3311 48.7554L56.8848 48.1021L58.1616 48.7554ZM47.3086 57.2496L47.9471 54.636L51.1392 57.903L49.2239 59.2097L47.3086 57.2496Z" fill="#3E25D8")
      rect(x="29" y="128" width="46" height="4" fill="#513BDC")
    +select("Тир")
      option 1
      option 2
      option 3
      option 4

block services
  +blockSubTitle("Доп услуги:")
  +service(false, "Дуо с бустером", 60)
  +service(true, "Приоритетный заказ", 60)
  +service(true, "Включить стрим с выполнением", 60)
  +service(true, "Не отключать Steam Guard", 60)
