include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/sectionHeader/sectionHeader.pug
include ../../components/teamPreview/teamPreview.pug
include ../../components/footer/footer.pug

doctype html
html(lang="ru")
  +head('teams')
  body
    +header
    main.main
      section.teams
        +sectionHeader
          header.teams__header.container.container-custom
            h1.section-title Наша команда
            img(src="@public/images/teams.png", alt="Команда")
        .teams__body.container.container-custom
          .teams__description
            p Мы тщательно отбираем бустеров и тренеров в команду BoostMMR.ru. Проверяем ребят на адекватность, стрессоустойчивость и скилл. Также обязательным пунктом работы на нашем сайте является предоставление паспортных данных.
            p По итогу в нашей команде находятся только настоящие профессионалы своего дела с рейтингом вплоть до ТОП-200 европы. Молодые, открытые и приятные в общении ребята, готовые выполнить заказ любой сложности в любое время.
            p Мы просим наших бустеров написать немного о себе, а так же записываем их статистику после каждой игры. Ознакомиться с профилями наших бустеров можно, кликнув по кнопке ниже.
          ul.teams__list.container.container-custom
            +teamPreview
            +teamPreview
            +teamPreview
            +teamPreview
    +footer
