@import "../../styles/helpers/mixins.scss";
@import "../../components/sectionHeader/sectionHeader.scss";
@import "../../components/teamPreview/teamPreview.scss";

.section-header {
  padding-bottom: 0;
}

.teams {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    > h1 {
      text-wrap: nowrap;
      color: var(--white);
    }

    img {
      display: none;

      @include xl {
        display: block;
        max-width: 100%;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__description > p {
    color: var(--purple);
  }

  &__list {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 28px;
    padding: 0;
    margin: 0 0 80px;

    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    list-style: none;
  }
}
