@import "../../styles/helpers/mixins.scss";
@import "../../components/sectionHeader/sectionHeader.scss";

.discount {
  position: relative;
  width: 100%;
  margin-top: -86px;
  margin-bottom: -60px;
  padding: 40px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      color: var(--white-opacity);
    }
    @include md {
      flex-direction: row;

      p {
        width: 635px;
      }
    }
  }

  &::after,
  &::before {
    clip-path: polygon(4% 0%, 100% 0%, 100% 96%, 96% 100%, 0% 100%, 0% 6%);
  }

  &__content {
    padding: 8px 20px;
    border-radius: 4px;
    background: radial-gradient(
        243.79% 141.42% at 100% 100%,
        rgba(62, 37, 216, 0.5) 0%,
        rgba(37, 183, 216, 0.29) 53.13%,
        rgba(101, 61, 153, 0.5) 100%
      ),
      #21212d;

    @include md {
      padding: 16px 35px;
    }

    @include lg {
      padding: 72px 74px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;
  }

  &__item {
    max-width: 90px;
    list-style: none;
    text-align: center;
    color: var(--white);
    opacity: 0.7;

    &.active {
      opacity: 1;

      > h2 {
        font-size: 20px;
      }

      > small {
        font-size: 13px;
      }

      > p {
        font-size: 15px;
      }
    }

    &.in-active {
      opacity: 0.3;
    }

    > img {
      width: 100%;
      display: block;
      border-radius: 100%;
      object-fit: cover;
    }

    > h2 {
      margin-top: 20px;
      font-size: 15px;
      font-style: italic;
      font-weight: 600;
    }

    > small {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
    }

    > p {
      margin-top: 0;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
    }
  }

  &__button {
    width: 100%;

    margin-top: 32px;

    padding: 16px 24px;

    border-radius: 4px;
    border: none;
    background: var(--Main, #3e25d8);

    color: var(--white);
    font-family: var(--font-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;

    &:hover {
      color: var(--white);
      background-color: color-mix(in srgb, var(--primary), var(--black) 20%);
    }
  }

  &__progress-bar {
    display: flex;

    &-after {
      width: 5%;
      height: 2px;

      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &-before {
      width: 5%;
      height: 2px;

      transform: rotate(180deg);
      background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &-box {
      position: relative;

      height: 24px;
      width: 90%;

      margin-left: auto;
      margin-right: auto;
    }

    &-lain-progress {
      position: absolute;
      z-index: 1;

      height: 2px;
      transition: left 0.5s ease-in;
      background: white;

      display: flex;
      align-items: center;
      justify-content: end;

      &::after {
        content: " ";
        z-index: 1;

        display: block;

        width: 16px;
        height: 24px;

        transition: left 0.5s ease-in;

        transform: translateX(50%);

        background-image: url("@public/images/loyalty-system/discount__progress-bar-item.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &-lain {
      position: absolute;
      z-index: -0;

      width: 100%;
      height: 2px;

      background: white;
      opacity: 0.3;
    }
  }
}

.footer {
  padding-top: 30px;
}
