.select select {
  padding: 30px 16px 10px;
  width: 100%;
  height: 100%;
  font: var(--font-text-secondary);
  font-weight: 500;
  border: unset;
  color: var(--black);
  background-color: transparent;

  &::placeholder {
    color: var(--purple);
  }

  &:focus-visible {
    outline-color: var(--primary);
  }
}
