.select select {
  padding: 30px 16px 10px;
  width: 100%;
  height: 100%;
  border: unset;
  color: var(--black);
  background-color: transparent;

  &::placeholder {
    color: var(--purple);
  }

  &:focus-visible {
    outline-color: var(--primary);
  }

  &:has(select[aria-disabled="true"]) {
    pointer-events: none;
    opacity: 0.6;
  }
}
