mixin blogPreview
  .blog-preview
    .blog-preview__img-container.border-clip-2
      img(src="@public/images/blogPreview.png", alt="blogPreview")
    .blog-preview__header
      .blog-preview__post-time 29.09.2023, 6:45
      .blog-preview__views
        svg(width="20" height="20" viewBox="0 0 20 20" fill="none")
          path(d="M18 10C18 10 16 16 10 16C4 16 2 10 2 10" stroke="#5F5A79" stroke-width="2" stroke-linecap="round")
          path(d="M18 10C18 10 16 4 10 4C4 4 2 10 2 10" stroke="#5F5A79" stroke-width="2" stroke-linecap="round")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M10 13C11.6569 13 13 11.6569 13 10C13 8.34315 11.6569 7 10 7C9.69253 7 9.39587 7.04625 9.11659 7.13218C9.63749 7.36736 10 7.89135 10 8.5C10 9.32843 9.32843 10 8.5 10C7.89135 10 7.36736 9.63749 7.13218 9.11659C7.04625 9.39587 7 9.69253 7 10C7 11.6569 8.34315 13 10 13Z" fill="#5F5A79")
        | 2 341
    .blog-preview__body
      h3 Лучшие герои для поднятия ПТС в патче 7.34
      p Доброго времени суток, наши дорогие клиенты. Как обычно собрали важные изменения героев в патче 7.34. В этой статье представлены важные изменения в нами всеми любимой игре Dota 2. (От любви до ненависти всего 1 шаг).
      a.blog-preview__link(href="=0")
        | Читать полностью
        svg(width="21" height="20" viewBox="0 0 21 20" fill="none")
          path(d="M8.5 14L12.5 10L8.5 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
