mixin modal-window(title,classActive)
    article.modal-window(class=classActive)
      .modal-window__background
      .modal-window__content
        .modal-window__close
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M1 13L13 0.999999" stroke="#5F5A79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1 1L13 13" stroke="#5F5A79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        h2.modal-window__title=title
        block





