@import "../../components/history/history.scss";

.main {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
}

.orders {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  column-gap: 30px;
  row-gap: 30px;

  margin-top: 40px;
}

// временные стили
.card {
  width: 540px;
  height: 198px;
  margin-left: auto;
  margin-right: auto;

  background: blue;
}

// TODO убрать временные карточки и поставить нормальные
