include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
//- include ../../components/card/card.pug

doctype html
html(lang="ru")
  +head('Order monitoring')
  body
    main.main.container
      p Мы реализовали подгрузку матчей с наших заказов прямо на сайт с помощью официального Steam API. Благодаря этому, вы можете зайти абсолютно в любой заказ на сайте и посмотреть нашу работу и ход выполнения заказа.
      | В разделе активные заказы вы сможете посмотреть все наши текущие заказы по бустингу в Доте 2, которые находятся в работе, последние 50 игр на наших заказах с детальной статистикой по каждому матчу и последние 25 завершенных заказов.
      | Также в завершенных заказах вы сможете увидеть отзыв клиента, если он его оставил.

      section.orders
        .card
        .card

        .card
        .card


    +footer
