.stat {
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    font: var(--font-text-primary);
    font-weight: 600;
    text-align: center;
    color: var(--black);
    margin: 0;
  }

  > span {
    font: var(--font-text-secondary);
    font-weight: 400;
    text-align: center;
    color: var(--purple);
  }
}
