include ../burgerMenu/burgerMenu.pug

mixin header(isAuth)
  header.header
    +burgerMenu
    //- nav.header__navigation
    //-   .col-4.justify-content-start
    //-     button.navbar-toggler.icon-button.button(
    //-       aria-label="Toggle navigation"
    //-       type="button"
    //-       data-bs-toggle="collapse"
    //-       data-bs-target="#burger"
    //-       )
    //-       span.navbar-toggler-icon
    //-         svg(viewBox="0 0 30 30")
    //-           path(
    //-             d="M4 7h22M4 15h22M4 23h22"
    //-             stroke-width="2"
    //-             stroke-miterlimit="10"
    //-             stroke-linecap="round"
    //-             )
    //-     button.border-clip.button Каталог услуг
    //-     aside
    //-       .setting-language
    //-         button#switchLanguage.setting-language__toggler(
    //-           aria-label="Открыть настройку языка и валюты"
    //-           type="button"
    //-           data-bs-toggle="collapse"
    //-           data-bs-target=".setting-language__box"
    //-           )
    //-           svg(
    //-             xmlns="http://www.w3.org/2000/svg"
    //-             fill="none"
    //-             viewBox="0 0 32 20"
    //-             height="20"
    //-             width="32"
    //-             )
    //-             g(clip-path="url(#clip0_1237_5944)")
    //-               path(
    //-                 fill="white"
    //-                 d="M32 0H0V10H32V0Z"
    //-                 )
    //-               path(
    //-                 fill="#D52B1E"
    //-                 d="M32 10H0V20H32V10Z"
    //-                 )
    //-               path(
    //-                 fill="#0039A6"
    //-                 d="M32 6.6665H0V13.3332H32V6.6665Z"
    //-                 )
    //-             defs
    //-               clippath(id="clip0_1237_5944")
    //-                 rect(
    //-                   fill="white"
    //-                   rx="2"
    //-                   height="20"
    //-                   width="32"
    //-                   )
    //-           | RU, RUB
    //-         div.setting-language__box
    //-           ul
    //-             li
    //-               label
    //-                 | English
    //-                 svg(
    //-                   fill="none"
    //-                   viewBox="0 0 32 20"
    //-                   height="20"
    //-                   width="32"
    //-                   )
    //-                   g(clip-path="url(#clip0_200_4528)")
    //-                     path(
    //-                       fill="#B22234"
    //-                       d="M38.76 0H0V20H38.76V0Z"
    //-                       )
    //-                     path(
    //-                       fill="black"
    //-                       d="M0 2.30762H38.76H0ZM38.76 5.38454H0H38.76ZM0 8.46146H38.76H0ZM38.76 11.5384H0H38.76ZM0 14.6153H38.76H0ZM38.76 17.6922H0H38.76Z"
    //-                       )
    //-                     path(
    //-                       stroke-width="1.5"
    //-                       stroke="white"
    //-                       d="M0 2.30762H38.76M38.76 5.38454H0M0 8.46146H38.76M38.76 11.5384H0M0 14.6153H38.76M38.76 17.6922H0"
    //-                       )
    //-                     path(
    //-                       fill="#3C3B6E"
    //-                       d="M15.504 0H0V10.7692H15.504V0Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M1.29204 0.461426L1.66099 1.57467L0.695068 0.886646H1.88901L0.923091 1.57467L1.29204 0.461426Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M1.29204 2.61523L1.66099 3.72848L0.695068 3.04045H1.88901L0.923091 3.72848L1.29204 2.61523Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M1.29204 4.76904L1.66099 5.88228L0.695068 5.19426H1.88901L0.923091 5.88228L1.29204 4.76904Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M1.29204 6.92285L1.66099 8.03609L0.695068 7.34807H1.88901L0.923091 8.03609L1.29204 6.92285Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M1.29204 9.07666L1.66099 10.1899L0.695068 9.50188H1.88901L0.923091 10.1899L1.29204 9.07666Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M2.58403 1.53857L2.95298 2.65182L1.98706 1.96379H3.181L2.21508 2.65182L2.58403 1.53857Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M2.58403 3.69238L2.95298 4.80562L1.98706 4.1176H3.181L2.21508 4.80562L2.58403 3.69238Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M2.58403 5.84619L2.95298 6.95943L1.98706 6.27141H3.181L2.21508 6.95943L2.58403 5.84619Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M2.58403 8L2.95298 9.11324L1.98706 8.42522H3.181L2.21508 9.11324L2.58403 8Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M3.87602 0.461426L4.24497 1.57467L3.27905 0.886646H4.47299L3.50708 1.57467L3.87602 0.461426Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M3.87602 2.61523L4.24497 3.72848L3.27905 3.04045H4.47299L3.50708 3.72848L3.87602 2.61523Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M3.87602 4.76904L4.24497 5.88228L3.27905 5.19426H4.47299L3.50708 5.88228L3.87602 4.76904Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M3.87602 6.92285L4.24497 8.03609L3.27905 7.34807H4.47299L3.50708 8.03609L3.87602 6.92285Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M3.87602 9.07666L4.24497 10.1899L3.27905 9.50188H4.47299L3.50708 10.1899L3.87602 9.07666Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M5.16802 1.53857L5.53696 2.65182L4.57104 1.96379H5.76499L4.79907 2.65182L5.16802 1.53857Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M5.16802 3.69238L5.53696 4.80562L4.57104 4.1176H5.76499L4.79907 4.80562L5.16802 3.69238Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M5.16802 5.84619L5.53696 6.95943L4.57104 6.27141H5.76499L4.79907 6.95943L5.16802 5.84619Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M5.16802 8L5.53696 9.11324L4.57104 8.42522H5.76499L4.79907 9.11324L5.16802 8Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M6.46001 0.461426L6.82896 1.57467L5.86304 0.886646H7.05698L6.09106 1.57467L6.46001 0.461426Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M6.46001 2.61523L6.82896 3.72848L5.86304 3.04045H7.05698L6.09106 3.72848L6.46001 2.61523Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M6.46001 4.76904L6.82896 5.88228L5.86304 5.19426H7.05698L6.09106 5.88228L6.46001 4.76904Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M6.46001 6.92285L6.82896 8.03609L5.86304 7.34807H7.05698L6.09106 8.03609L6.46001 6.92285Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M6.46001 9.07666L6.82896 10.1899L5.86304 9.50188H7.05698L6.09106 10.1899L6.46001 9.07666Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M7.752 1.53857L8.12095 2.65182L7.15503 1.96379H8.34897L7.38305 2.65182L7.752 1.53857Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M7.752 3.69238L8.12095 4.80562L7.15503 4.1176H8.34897L7.38305 4.80562L7.752 3.69238Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M7.752 5.84619L8.12095 6.95943L7.15503 6.27141H8.34897L7.38305 6.95943L7.752 5.84619Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M7.752 8L8.12095 9.11324L7.15503 8.42522H8.34897L7.38305 9.11324L7.752 8Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M9.04399 0.461426L9.41294 1.57467L8.44702 0.886646H9.64096L8.67504 1.57467L9.04399 0.461426Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M9.04399 2.61523L9.41294 3.72848L8.44702 3.04045H9.64096L8.67504 3.72848L9.04399 2.61523Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M9.04399 4.76904L9.41294 5.88228L8.44702 5.19426H9.64096L8.67504 5.88228L9.04399 4.76904Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M9.04399 6.92285L9.41294 8.03609L8.44702 7.34807H9.64096L8.67504 8.03609L9.04399 6.92285Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M9.04399 9.07666L9.41294 10.1899L8.44702 9.50188H9.64096L8.67504 10.1899L9.04399 9.07666Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M10.336 1.53857L10.7049 2.65182L9.73901 1.96379H10.933L9.96704 2.65182L10.336 1.53857Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M10.336 3.69238L10.7049 4.80562L9.73901 4.1176H10.933L9.96704 4.80562L10.336 3.69238Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M10.336 5.84619L10.7049 6.95943L9.73901 6.27141H10.933L9.96704 6.95943L10.336 5.84619Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M10.336 8L10.7049 9.11324L9.73901 8.42522H10.933L9.96704 9.11324L10.336 8Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M11.6281 0.461426L11.997 1.57467L11.0311 0.886646H12.2251L11.2592 1.57467L11.6281 0.461426Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M11.6281 2.61523L11.997 3.72848L11.0311 3.04045H12.2251L11.2592 3.72848L11.6281 2.61523Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M11.6281 4.76904L11.997 5.88228L11.0311 5.19426H12.2251L11.2592 5.88228L11.6281 4.76904Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M11.6281 6.92285L11.997 8.03609L11.0311 7.34807H12.2251L11.2592 8.03609L11.6281 6.92285Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M11.6281 9.07666L11.997 10.1899L11.0311 9.50188H12.2251L11.2592 10.1899L11.6281 9.07666Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M12.9201 1.53857L13.289 2.65182L12.3231 1.96379H13.5171L12.5511 2.65182L12.9201 1.53857Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M12.9201 3.69238L13.289 4.80562L12.3231 4.1176H13.5171L12.5511 4.80562L12.9201 3.69238Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M12.9201 5.84619L13.289 6.95943L12.3231 6.27141H13.5171L12.5511 6.95943L12.9201 5.84619Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M12.9201 8L13.289 9.11324L12.3231 8.42522H13.5171L12.5511 9.11324L12.9201 8Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M14.2121 0.461426L14.581 1.57467L13.6151 0.886646H14.8091L13.8431 1.57467L14.2121 0.461426Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M14.2121 2.61523L14.581 3.72848L13.6151 3.04045H14.8091L13.8431 3.72848L14.2121 2.61523Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M14.2121 4.76904L14.581 5.88228L13.6151 5.19426H14.8091L13.8431 5.88228L14.2121 4.76904Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M14.2121 6.92285L14.581 8.03609L13.6151 7.34807H14.8091L13.8431 8.03609L14.2121 6.92285Z"
    //-                       )
    //-                     path(
    //-                       fill="white"
    //-                       d="M14.2121 9.07666L14.581 10.1899L13.6151 9.50188H14.8091L13.8431 10.1899L14.2121 9.07666Z"
    //-                       )
    //-                   defs
    //-                     clippath(id="clip0_200_4528")
    //-                       rect(
    //-                         fill="white"
    //-                         rx="2"
    //-                         height="20"
    //-                         width="32"
    //-                         )
    //-                 input.d-none(
    //-                   name="language"
    //-                   type="radio"
    //-                   )
    //-             li
    //-               label
    //-                 | Русский
    //-                 svg(
    //-                   xmlns="http://www.w3.org/2000/svg"
    //-                   fill="none"
    //-                   viewBox="0 0 32 20"
    //-                   height="20"
    //-                   width="32"
    //-                   )
    //-                   g(clip-path="url(#clip0_1237_5944)")
    //-                     path(
    //-                       fill="white"
    //-                       d="M32 0H0V10H32V0Z"
    //-                       )
    //-                     path(
    //-                       fill="#D52B1E"
    //-                       d="M32 10H0V20H32V10Z"
    //-                       )
    //-                     path(
    //-                       fill="#0039A6"
    //-                       d="M32 6.6665H0V13.3332H32V6.6665Z"
    //-                       )
    //-                   defs
    //-                     clippath(id="clip0_1237_5944")
    //-                       rect(
    //-                         fill="white"
    //-                         rx="2"
    //-                         height="20"
    //-                         width="32"
    //-                         )
    //-                 input.d-none(
    //-                   checked=""
    //-                   name="language"
    //-                   type="radio"
    //-                   )
    //-           hr
    //-           .toggler
    //-             label(class="toggler__item")
    //-               | RUB, ₽
    //-               input(
    //-                 checked=""
    //-                 name="currency"
    //-                 type="radio"
    //-                 )
    //-             label(class="toggler__item")
    //-               | USD, $
    //-               input(
    //-                 name="currency"
    //-                 type="radio"
    //-                 )
    //-     button#switchTheme.icon-button.button(aria-label="сменить тему")
    //-       svg(
    //-         fill="none"
    //-         viewBox="0 0 20 21"
    //-         height="21"
    //-         width="20"
    //-         )
    //-         g(clip-path="url(#clip0_1253_11582)")
    //-           path(
    //-             fill="white"
    //-             d="M18.8444 12.0174L19.8271 12.2024C19.8987 11.8223 19.7446 11.4349 19.4314 11.2079C19.1183 10.9808 18.7022 10.9547 18.3631 11.1408L18.8444 12.0174ZM7.7435 1.62744L8.65007 2.04949C8.81335 1.69877 8.75968 1.28533 8.51227 0.987919C8.26486 0.690506 7.8681 0.562481 7.49352 0.659192L7.7435 1.62744ZM18.3631 11.1408C17.366 11.6882 16.2209 12 15 12V14C16.5658 14 18.041 13.5992 19.3256 12.894L18.3631 11.1408ZM15 12C11.134 12 8 8.86595 8 4.99996H6C6 9.97052 10.0294 14 15 14V12ZM8 4.99996C8 3.94379 8.23324 2.94486 8.65007 2.04949L6.83693 1.20539C6.29955 2.35969 6 3.64622 6 4.99996H8ZM2 10.3422C2 6.618 4.54574 3.48584 7.99349 2.59569L7.49352 0.659192C3.18434 1.77175 0 5.68386 0 10.3422H2ZM10 18.3422C5.58172 18.3422 2 14.7605 2 10.3422H0C0 15.8651 4.47715 20.3422 10 20.3422V18.3422ZM17.8616 11.8324C17.164 15.5386 13.9083 18.3422 10 18.3422V20.3422C14.8879 20.3422 18.9548 16.8364 19.8271 12.2024L17.8616 11.8324Z"
    //-             )
    //-         defs
    //-           clippath(id="clip0_1253_11582")
    //-             rect(
    //-               fill="white"
    //-               height="21"
    //-               width="20"
    //-               )
    //-   .col-4.justify-content-center.logo logo
    //-   .col-4.justify-content-end
    //-     if isAuth
    //-       button.header__auth-button.invert-button.button.border-clip(
    //-           type="button"
    //-           data-expand-dialog="#login"
    //-           )
    //-         svg(width="24" height="24" viewBox="0 0 24 24" fill="none")
    //-           path(d="M8 7L8 5C8 3.89543 8.89543 3 10 3L16 3C17.1046 3 18 3.89543 18 5V19C18 20.1046 17.1046 21 16 21H10C8.89543 21 8 20.1046 8 19V17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    //-           path(d="M6 12L14 12M14 12L11 9M14 12L11 15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    //-         | Авторизация
    //-     else
    //-       a.icon-button.button(aria-label="Уведомления")
    //-         #notificationBadge.badge
    //-           svg(
    //-             fill="none"
    //-             viewBox="0 0 24 24"
    //-             height="24"
    //-             width="24"
    //-             )
    //-             path(
    //-               stroke-linejoin="round"
    //-               stroke-linecap="round"
    //-               stroke-width="2"
    //-               stroke="white"
    //-               d="M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.89 22 12 22ZM18 16V11C18 7.93 16.36 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.63 5.36 6 7.92 6 11V16L4 18V19H20V18L18 16Z"
    //-               )
    //-       a.header__orders.icon-button.button.remove-link-style(aria-label="Заказы")
    //-         #ordersBadge.badge
    //-           svg(
    //-             fill="none"
    //-             viewBox="0 0 24 24"
    //-             height="24"
    //-             width="24"
    //-             )
    //-             path(
    //-               stroke-width="2"
    //-               stroke="white"
    //-               d="M19 5H5.26556C4.06257 5 3.1318 6.05436 3.28101 7.24807L3.78101 11.2481C3.90612 12.2489 4.75692 13 5.76556 13H18"
    //-               )
    //-             path(
    //-               stroke-linecap="round"
    //-               stroke-width="2"
    //-               stroke="white"
    //-               d="M6 17H15.249C16.2514 17 17.0989 16.2579 17.2314 15.2643L18.7686 3.73567C18.9011 2.74206 19.7486 2 20.751 2H21"
    //-               )
    //-             circle(
    //-               fill="white"
    //-               r="1.5"
    //-               cy="20.5"
    //-               cx="7.5"
    //-               )
    //-             circle(
    //-               fill="white"
    //-               r="1.5"
    //-               cy="20.5"
    //-               cx="14.5"
    //-               )
    //-         | Заказы
    //-       a.accent
    //-         svg(
    //-           fill="none"
    //-           viewBox="0 0 24 24"
    //-           height="24"
    //-           width="24"
    //-           )
    //-           path(
    //-             stroke-width="2"
    //-             stroke="#3E25D8"
    //-             d="M10 9V15C10 16.1046 10.8954 17 12 17H19C20.1046 17 21 16.1046 21 15V9C21 7.89543 20.1046 7 19 7H12C10.8954 7 10 7.89543 10 9Z"
    //-             )
    //-           path(
    //-             fill="#3E25D8"
    //-             d="M4 6C4 5.44772 4.44772 5 5 5L12 5H17L19.8293 5C19.4175 3.83481 18.3062 3 17 3L5 3C3.34315 3 2 4.34315 2 6L2 18C2 19.6569 3.34315 21 5 21L17 21C18.3062 21 19.4175 20.1652 19.8293 19H17L12 19H5C4.44772 19 4 18.5523 4 18L4 6Z"
    //-             clip-rule="evenodd"
    //-             fill-rule="evenodd"
    //-             )
    //-           circle(
    //-             fill="#3E25D8"
    //-             r="2"
    //-             cy="12"
    //-             cx="14"
    //-             )
    //-         | 15 000 ₽
    //-       .profile
    //-         button.profile__preview.icon-button.button(
    //-           aria-label="Открыть профиль"
    //-           type="button"
    //-           data-bs-toggle="collapse"
    //-           data-bs-target=".profile__aside"
    //-           )
    //-           | Профиль
    //-           img(src="@public/images/template/logo.svg")
    //-         .profile__aside
    //-           ul.profile__menu
    //-             li
    //-               a(href="=0") Профиль
    //-             li
    //-               a(href="=0") Заказы
    //-             li
    //-               a(href="=0") Данные аккаунта
    //-             li
    //-               a(href="=0") Настройки уведомлений
    //-           hr
    //-           button.profile__exit.reset(type="button") Выйти из аккаунта

