mixin checkbox(name, checked)
  label.checkbox
    .checkbox__custom
      svg(width="14" height="10" viewBox="0 0 14 10" fill="none")
        path(d="M1 5L5 9L13 1" stroke="#F9F8FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    input(type="checkbox", name=name, checked=checked)
