@import "../../styles/helpers/mixins.scss";

.footer {
  display: flex;
  align-items: center;
  margin: 23px;
  overflow: hidden;
  border-radius: var(--border-radius);
  color: var(--white);
  background-color: var(--black);

  h3 {
    font-family: var(--font-primary);
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    color: var(--white);
    opacity: 0.7;
  }

  &__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "pages catalog"
      "vacancies catalog"
      "information information";
    gap: 32px;
    padding: 30px 10px;
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: #f5f5f5d6;

    @include md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "pages catalog information"
        "vacancies catalog information";
    }

    .list-group {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 16px;
    }

    li {
      list-style: none;
    }

    a {
      padding: 6px 0;
      color: var(--white);
    }
  }

  &__information {
    grid-area: information;
  }

  &__pages {
    grid-area: pages;
  }

  &__vacancies {
    grid-area: vacancies;
  }

  &__catalog {
    grid-area: catalog;
  }
}
