extends ../service-catalog-layout/index.pug
include ../../components/range/range.pug
include ../../components/select/select.pug

block steps
  +steps(1)

block tabsList
  +tabs("training")

block aside
  +aside()

block content
  +blockTitle("Тренировка")
  .training
    +imgWithLabel("@public/images/rank-1.png", "Archon IV")(class="row rank-img")
    +input("Ваш рейтинг")(type="text")
    +select("Ваша роль")
      option Carry (1)
      option Midlaner (2)
      option Offlaner (3)
      option Soft support (4)
      option Hard support (5)
    +input("Кол-во часов", {class: "row"})(type="number")

block services
  +service(true, "Приоритетный заказ", 60)
