.history {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 24px 15px;
  background-color: var(--background-2);

  .border-clip-left-top,
  .border-clip-right-bottom {
    --background-color: var(--background-2);
  }

  @include md {
    padding: 32px 39px;
  }

  @include lg {
    gap: 20px;

    .border-clip-left-top,
    .border-clip-right-bottom {
      --background-color: var(--background);
    }
  }

  &__title {
    margin-bottom: 0;
    color: var(--black);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 644px;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    gap: 16px;
    padding: 16px 20px;
  }
}

.history-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  gap: 8px;
  text-decoration: none;
  padding: 16px 20px;
  border-radius: var(--border-radius);
  background-color: var(--background);
  overflow-x: hidden;

  @include md {
    flex-direction: row;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    flex: 1;

    > img {
      padding: 1px;
      width: 88px;
      height: 52px;
    }

    @include md {
      width: unset;
      margin-right: 35px;
    }
  }

  &__hero-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
  }

  &__role {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    > span {
      font-family: var(--font-primary);
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
    }

    > p {
      font-family: var(--font-primary);
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      margin: 0;
      color: var(--black);
    }
  }

  &__stats-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    width: 100%;

    @include md {
      width: unset;
    }
  }

  &__stats {
    display: flex;
    justify-content: center;
    gap: 8px;

    @include md {
      > div {
        min-width: 64px;
      }
    }
  }

  &__stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--game-result {
      min-width: 90px;
    }

    > * {
      margin: 0;
      text-align: center;
    }
  }

  &__title {
    font: var(--font-primary);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    color: var(--purple);
  }

  &__description {
    font: var(--font-text-primary);
    font-weight: 500;
  }

  &__success,
  &__error {
    font-family: var(--font-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
  }

  &__success {
    color: var(--primary);
  }
  &__error {
    color: var(--red);
  }

  &__btn {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    transform: translateX(20px);
    transition: all 0.3s;
    opacity: 0;

    path {
      stroke: var(--primary);
    }

    @include md {
      justify-content: center;
    }

    &.show {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  &:hover .history-item__btn {
    transform: translateX(0px);
    opacity: 1;
  }
}
