@import "../../components/sectionHeader/sectionHeader.scss";
@import "../../components/input/input.scss";
@import "../../components/checkbox/checkbox.scss";

.work-with-specialist-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 560px;
  margin-top: -90px;
  margin-bottom: -60px;

  &__message {
    margin-top: 16px;
    text-align: center;
    font-family: var(--font-primary);

    h2 {
      font-size: 15px;
      font-style: italic;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--primary);
      margin: 0;
    }

    p {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      margin-top: 12px;
    }
  }

  &__link {
    margin-top: 32px;
    padding: 16px 24px;
  }
}

.footer {
  padding-top: 56px;
}
