@import "../../styles/helpers/_mixins.scss";
@import "../personal-cabinet-layout/index.scss";
@import "../../components/input/input.scss";
@import "../../components/favoriteHeros/favoriteHeros.scss";

.requisites {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .input:first-child {
      grid-column: 1/2;
    }
    .input:last-child {
      grid-column: 2/3;
    }

    &-full {
      grid-column: 1/3;
    }

    p {
      color: var(--purple);
    }
  }
}
