.accordion-item {
  height: max-content;
  padding: 0;
  border-radius: var(--border-radius);
  background-color: var(--background-2);

  > .accordion-header button {
    width: 100%;
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    box-shadow: unset;
    background-color: var(--background-2);
  }

  .accordion-body {
    padding: 0 24px 24px;
  }
}
