@import "../order-monitoring-chat-layout/order-monitoring-chat-layout.scss";

.row-container {
  display: flex;
  justify-content: space-between;
}

.messenger__history {
  margin-top: clamp(20px, 4vw, 28px);
  padding: 0;

  @include ilg {
    max-width: unset;
  }
}

.messenger__tabs .toggler {
  width: 100%;
  padding: 4px;

  @include lg {
    width: max-content;
  }

  .toggler__item {
    padding: 16px 10px;
    text-align: center;

    @include lg {
      padding: 16px 20px;
    }
  }
}

.history {
  padding: 24px 15px;

  @include ilg {
    > .border-clip-left-top,
    > .border-clip-right-bottom {
      display: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &-button {
      color: var(--primary);

      &:hover {
        color: var(--primary);
        background-color: var(--background-3);
      }
    }
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__row {
    display: flex;
  }

  &__avatar {
    display: block;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
    background-color: var(--purple);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
  }

  &__name {
    font-size: 15px;
    font-style: italic;
    margin: 0;
    color: var(--primary);
  }

  &__label {
    font-size: 13px;
  }
}

.modal-window {
  padding: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 40px;
  }

  &__row {
    display: flex;
    column-gap: 12px;
  }

  &__select {
    display: grid;
    background: var(--white);
    padding: 10px 16px;
    border-radius: 4px;

    &-title {
      padding-left: 3px;
    }

    > select {
      border: none;
      padding: 0;
      margin: 0;

      > option {
        padding: 0;
        margin: 0;
      }

      &:focus {
        border: none;
        outline: none;
        text-align: left;
      }
    }
  }

  &__footer {
    width: 100%;
    margin-top: 20px;
    padding: 16px 40px;
    background: var(--white);

    &-button {
      width: 100%;
      color: var(--white);
    }
  }

  .toggler {
    width: 100%;
    padding: 4px;
    background-color: #F9F8FF;

    .toggler__item {
      padding: 16px 10px;
      text-align: center;

      @include lg {
        padding: 16px 20px;
      }
    }
  }

  $input-file-color: grey;
  $input-file-hover-color: black;

  input[type="file"] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  .label {
    position: relative;

    display: block;

    width: 48%;
    min-height: 88px;

    background: var(--white);
    border: 2px dashed $input-file-color;
    border-radius: 5px;

    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;

    .title {
      position: absolute;

      width: 100%;
      height: min-content;

      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);

      color: $input-file-color;
      transition: 200ms color;
    }

    &:hover {
      border: 2px solid $input-file-hover-color;

      i,
      .title {
        color: $input-file-hover-color;
      }
    }
  }
}
