body {
  &.white {
    --primary: #3e25d8;
    --black: #21212d;
    --red: #d52b1e;
    --red-2: #bb3c3c;
    --white: #ffffff;
    --white-opacity: rgba(255, 255, 255, 0.7);
    --purple: #5f5a79;

    --background: #e4e2f1;
    --background-2: #f9f8ff;
    --background-3: #d2d0dd;
    --background-hover: rgb(251 250 255 / 20%);

    --border: 1px solid #d2d0dd;
    --border-radius: 4px;

    /* bootstrap */
    --bs-body-bg: var(--background);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

@media (min-width: 1110px) {
  .container-custom {
    max-width: 1110px;
  }
}

a {
  cursor: pointer;
}

p {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0;
  color: var(--background-3);
  opacity: 1;
}

.logo {
  color: var(--white);
  font: var(--font-h1);
  text-transform: uppercase;
}

@import "./components/typography.scss";
@import "./components/buttons.scss";
@import "./components/toggler.scss";
@import "./components/clips.scss";
@import "./components/stat.scss";
@import "./components/input.scss";
@import "../../components/header/header.scss";
@import "../../components/footer/footer.scss";
